
Conf.py
/esquema.mwb.bak
/esquema.mwb

# Byte-compiled / optimized / DLL files
/__pycache__/
*.py[cod]
__pycache__/*
*/__pycache__/
# C extensions
*.so
#Pictures! 
*.jpeg
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
istockphoto-1287419541-612x612.jpg
istockphoto-1386694871-170667a.jpg
*.mkv
Untitled.png
Untitled.xcf
foto_2.jpg
foto_3.jpg
foto_4.jpg
R.session.sql
